// .header-btn {
//     position: absolute;
//     right: 10px;
// }
.no-record {
    padding: 10px;
    text-align: center;
}

.searchbar-container {
    padding: 10px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background: #ffffff !important;
    z-index: 100;
}